body{
    background-color:#eee;
}

input{
    width: 30vw;
    margin: auto;
    height: 35px;
    border-radius: 20px;
    padding: 2px 5px 0px 10px;
}

.cart{
    margin-left: 30%;
    border-radius: 30px;
    padding: 5px;
    width: 30%;
    background-color: #0c2a38;
    color: white;
}

img{
    margin-left: 20%;
}