@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200;300;400;500;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 70%;
}

.nav--list{
    width:45%;
}

/* Styling of the About Page button */

.btn-start{
    height: 7vh;
    width:20vw;
    border-radius: 20px;
    outline-color: transparent;
    border-color: transparent;
    font-weight:400;
    color: white;
    background-color:rgb(26, 60, 128)
}

.btn-start:hover{
    background-color:rgb(53, 77, 124)
}

body{
    margin: 0px;
    padding: 0px;
}

nav {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 2px 2px 10px;
    z-index: 1;
}

nav ul {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    text-decoration: underline;
}
.menu{
    display: none;
}
.first-section {
    background-image: url("./wallperShoe.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.blue-box {
    width: 35%;
    margin: auto;
    background-color: #69c5f04b;
    backdrop-filter: blur(30px);
    padding: 15px;
    border-radius: 12px;
}

.deliver{
    margin-bottom: 30px;
}

.blue-box button {
    border-radius: 30px;
    border: none;
    background-color: #0c2a38;
    color: white;
    padding: 10px 25px 10px 25px;
}

.offers-div {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.indiv {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30%
}
/* Colouring and position of the about background */
.about{
    background-color: #ffffff;
    /* background-image: linear-gradient(to right, #9ec8f5, #69a2de); */
    display: flex;
    padding-top: 60px;
}

/*  */


.indiv p {
    width: 70%;
}

.second-section {
    margin-top: 10px;
    padding-top: 30px;
    background-color: #eee;
    padding-bottom: 30px;
}

/* Size for the flexed image of the about Page */
.image{
    width: 190vw;
    height:10vh;
}

.about>div>h1{
    font-size:70px;
}

.about--words{
    margin-right: 90px;
    width:95%;
}

.about>div>h3{
    font-size: 20px;
}

/* Media Query for the About Page */

@media only screen and (max-width: 720px) {
    .about{
        display: block;
        padding-left: 30px;
    }

    .nav--list{
        display:hidden;
    }

    .about>div>h3{
        font-size: 30px;
    }

    .about>div>h1{
        font-size:40px
    }
    .image img{
        max-width: 100%;
    }

    .image{
        padding-top: 50px;
        width: 70vw;
        height:3vh;
    }
}

@media only screen and (min-width: 710px){
    .about{
        padding-left: 20px;
    }
}

.image-div{
    margin-top: 35px;
    display: grid;
    padding: 0px 20px 0px 20px;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.image-div *:hover {
    cursor: pointer;
}

.third-section {
    text-align: center;
    background-color: #b9ccf3;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 900px) {

    /* tablets */
    nav ul {
        display: none;
    }

    .menu {
        display: block;
    }

}

/* phones */
@media only screen and (max-width: 600px) {
    .first-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu {
        display: block;
    }

    .indiv {
        width: 100%;
    }

    .offers-div {
        display: block;
    }

    .image-div {
        grid-template-columns: auto;
    }

    .second-section {
        padding-top: 100px;
    }

    .third-section img {
        display: none;
    }

    .sub-div {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .first-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu{
        display: block;
    }

    .indiv {
        width: 100%;
    }

    .offers-div {
        display: block;
    }

    .image-div {
        grid-template-columns: auto;
    }

    .second-section {
        padding-top: 100px;
    }

    .third-section img {
        display: none;
    }

    .sub-div {
        width: 100%;
    }
}

.sub-div {
    margin: auto;
    width: 35%;
}

.third-section img {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-right: 70px;
    margin-top: 20px;
}

.third-section button {
    border-radius: 30px;
    border: none;
    background-color: #0c2a38;
    color: white;
    padding: 10px 25px 10px 25px;
    font-size: 1em;
}

/* Contact Us Styling */

.contact--body{
    /* background-image: url(/images/op.jpg); */
    background-repeat: no-repeat;
    background-size:cover;
    min-height:100vh;
    width: 100%;
    background-color:rgb(239, 227, 227)
}

.contact--detail{
    max-width: 600px;
    background-color: rgba(238, 238, 238, 0.343);
    backdrop-filter: blur(40px);
    width:85%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    border-radius: 8px;
    text-align: center
}

.products--body{
    min-height: 100vh;
    color: #69c5f0;
}

.products--body h1{
    text-align: center;
    margin-top:50px;
    font-size: 38px;
}

.products{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(358px, auto));
    grid-gap: 58px;
    margin: 58px auto;
    max-width: 1240px;
    padding: 28px;
}

.product{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    padding:10px;
    
}

.form{
    border: 1px solid #a9a9a9;
    margin: 7px 0px;
    padding:6px 20px;
    border-radius:9px;
}
.contact--detail h1{
    font-weight: 600;
    margin: top 0px;
}

.form label{
    font-size: 13px;
    color: rgb(0, 0, 0);
    display: block;
    text-align:left;
}

.form input, .form textarea{
    width: 100%;
    font-size: 19px;
    margin-top: 5px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: rgba(246, 246, 246, 0.067);
}

.form input:focus{
    background-color: transparent
}

.send--btn{
    width:100%;
    display:inline-block;
    background-color: rgb(89, 233, 89);
    padding: 14px 0px;
    margin-top: 6px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-color: transparent;
}

button:hover{
    cursor: pointer;
}