@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

nav {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: white;
    opacity: 0.7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 2px 2px 10px;
    z-index: 1;
}

nav ul {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    text-decoration: underline;
}
.menu{
    display: none;
}
.first-section {
    background-image: url("./wallperShoe.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.blue-box {
    width: 35%;
    margin: auto;
    background-color: #69c5f04b;
    backdrop-filter: blur(30px);
    padding: 15px;
    border-radius: 12px;
}

.blue-box button {
    border-radius: 30px;
    border: none;
    background-color: #0c2a38;
    color: white;
    padding: 10px 25px 10px 25px;
}

.offers-div {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.indiv {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30%
}

.indiv p {
    width: 70%;
}

.second-section {
    margin-top: 10px;
    padding-top: 30px;
    background-color: #eee;
    padding-bottom: 30px;
}

.image-div {
    margin-top: 35px;
    display: grid;
    padding: 0px 20px 0px 20px;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.image-div *:hover {
    cursor: pointer;
}

.third-section {
    text-align: center;
    background-color: #b9ccf3;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 900px) {

    /* tablets */
    nav ul {
        display: none;
    }

    .menu {
        display: block;
    }

}

/* phones */
@media only screen and (max-width: 600px) {
    .first-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu {
        display: block;
    }

    .indiv {
        width: 100%;
    }

    .offers-div {
        display: block;
    }

    .image-div {
        grid-template-columns: auto;
    }

    .second-section {
        padding-top: 100px;
    }

    .third-section img {
        display: none;
    }

    .sub-div {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .first-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu{
        display: block;
    }

    .indiv {
        width: 100%;
    }

    .offers-div {
        display: block;
    }

    .image-div {
        grid-template-columns: auto;
    }

    .second-section {
        padding-top: 100px;
    }

    .third-section img {
        display: none;
    }

    .sub-div {
        width: 100%;
    }
}

.sub-div {
    margin: auto;
    width: 35%;
}

.third-section img {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-right: 70px;
    margin-top: 20px;
}

.third-section button {
    border-radius: 30px;
    border: none;
    background-color: #0c2a38;
    color: white;
    padding: 10px 25px 10px 25px;
    font-size: 1em;
}