body{
    margin: 0px;
    padding: 0px;
    /* background-color: black; */
}

nav{
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: white;
    opacity: 0.7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(30px);
    box-shadow: 2px 2px 10px;
}

nav ul{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

nav li{
    list-style: none;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover{
    text-decoration: underline;
}

.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.blue-box{
    width: 35%;
    margin: auto;
    background-color: #69c5f04b;
    backdrop-filter: blur(30px);
    padding: 15px;
    border-radius: 12px;
}

.blue-box button{
    border-radius: 30px;
    border: none;
    background-color:#0c2a38;
    color: white;
    padding: 10px 25px 10px 25px;
}